:root {
  --timer-background-color: #ffffff;
  --timer-border: 1px solid #000000;
  --timer-height: 70%;
  --timer-width: 70%;
  --button-border: 3px solid #000000;
  --button-text-size: 2em;
}

body,
div,
p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  :root {
    --timer-height: 100%;
    --timer-width: 100%;
    --button-text-size: 4em;
  }
}
